:root {
  --color-primary-dark: #141414;
  --color-primary-grey: #676767;
  font-size: 1vw;
}
*::before,
*::after,
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  background-color: var(--color-primary-dark);
  background-image: url('./assets/images/pexels-lukas-296234.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header */

#main-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;

  background-color: var(--color-primary-dark);
  border-bottom: 1px solid var(--color-primary-dark);
  opacity: 0.9;
  color: #c0c0c0;
  font-weight: bold;
}
#main-header > * {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-wrapper {
  justify-content: center;
  gap: 10px;
}
.logo-wrapper__page-icon{
  height: auto;
  max-width: 40%;
}
.logo-wrapper__title {
  font-size: max(18px, 2.2rem);
  width: 25vw;
}

.search-wrapper {
  width: 100%;
  display: inline-block;
}

#search-wrapper__search-bar {
  width: 50%;
  padding: 0.5rem;
  -webkit-appearance: none;
  font-size: max(15px, 1rem);
  appearance: none;
}

.search-wrapper__search-btn {
  font-size: clamp(15px, 50%, 1rem);
  padding: 0.5rem;
}

.unit-btn {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
  max-width: 12%;
  font-size: max(15px, 1rem);
}

.bold {
  font-weight: bold !important;
}

/* Main Content 
\/ \/ \/ \/ \/ \/ \/ 
*/
#main-body{
  margin-top: 2vh;
  height: 100%;
  width: 100%;
}
.day1-wrapper {
  width: 85%;
  height: 50%;
  margin: 0 auto;
  opacity: 0.9;
  background-color: var(--color-primary-dark);
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.day1-container{
  width: 90%;
  height: 100%;
  margin: 0 auto;
  background-color: var(--color-primary-grey);

  display: grid;
  grid-template-rows: 1fr 8fr;

  font-size: 1.5rem;
}

.day1-container__heading{
  display: flex;
  align-items: center;
  justify-content: center;
}
.day1-container__content.content-block {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.content-block__left-content{
  padding: 1vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .6fr 2fr;
  grid-auto-rows: 1fr;
}
.content-block__left-content > *{
display: flex;
align-items: center;
justify-content: center;
}

.left-section__weather-description {
  grid-column: span 2;
}



.content-block__right-content{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 15%;
  padding-top: 15%;
}
.right-section__location,
.right-section__date{
  flex: 0 0 100%;
}