:root {
  --color-primary-dark: rgb(20, 20, 20);
  --color-primary-grey: #676767;
  font-size: 1vw;
}
*::before,
*::after,
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  background-color: var(--color-primary-dark);
  background-color:var(--color-primary-dark);
  background-size: cover;
  background-position: 10%;
  background-repeat: no-repeat;
}

body {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

ul,
li {
  list-style: none;
}
/* Header */

#main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  margin-bottom: 5px;
  padding: .5rem;
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--color-primary-dark);
  border-bottom: 1px solid var(--color-primary-dark);
  opacity: 0.9;
  color: #c0c0c0;
  font-weight: bold;
}
#main-header > * {
  display: flex;
  align-items: center;
}
.logo-wrapper {
  justify-content: center;
}
.logo-wrapper__page-icon {
  height: auto;
  max-width: 40%;
}
.logo-wrapper__title {
  font-size: max(18px, 2.2rem);
  width: 25vw;
}

.search-wrapper {
  width: 100%;
  display: block;
}

#search-wrapper__search-bar {
  display: block;
  width: 50%;
  padding: 0.5rem;
  -webkit-appearance: none;
  font-size: clamp(15px, 50%, 1rem);
  background-color: #c0c0c0;
  appearance: none;
  border: 1px solid black;
  
}

.search-wrapper__search-btn {
  font-size: clamp(15px, 50%, 1rem);
  padding: 0.6rem;
  cursor: pointer;
  background-color: #c0c0c0;
  font-weight: 300;
  color: var(--color-primary-dark);
}


/* Unit Button styling*/
.unit-btn {
  display: flex;
  justify-content: center;
  gap: 5%;
  padding: min(8px, 1rem);
  font-size: clamp(15px, 50%, 1rem);
  cursor: pointer;
  background-color: #c0c0c0;
  font-weight: 0;
}
.unit-btn__celsius,
.unit-btn__farenheit {
  font-size: max(15px, 1rem);
  font-weight: 100;
  color: var(--color-primary-dark);
}
.unit-btn.celsius .unit-btn__celsius,
.unit-btn.farenheit .unit-btn__farenheit{
  font-weight: bold;
}

.tempDegree::after{
  content: '°';
}
.weather-conditions__wind-value::after {
  content:' m/s'
}
.weather-conditions__humidity-value::after{
  content:'%'
}
/* Main Content 
\/ \/ \/ \/ \/ \/ \/ 
Current day section
*/
#main-body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.day1-container {
  margin: 0 auto;
  margin-bottom: 2%;
  border: 1rem solid var(--color-primary-dark);
  opacity: 0.9;
  width: 60%;
  background-color: var(--color-primary-grey);
  display: grid;
  grid-template-rows: 1fr 3fr;
  font-size: 1.8rem;
  border-radius: 1.5rem;
}

.day1-container__heading {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--color-primary-dark);
  padding: 1rem;
  font-size: 2rem;
}
.day1-container__content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.weather-conditions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: .5rem;
}
.icon-wrapper__weather-icon {
  height: 70%;
  max-width: 20%;
  background-color: var(--color-primary-dark);
  border-radius: 4rem;
}
.day1-coontainer__locale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.locale-wrapper__location,
.locale-wrapper__date {
padding: 1rem;
}

/* Week container*/

.week-container {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 0 auto;
  border: 1rem solid var(--color-primary-dark);
  background-color: var(--color-primary-grey);
  opacity: 0.9;
  border-radius: 1.5rem;
  flex-grow: 1;
}
.week-container__heading {
  text-align: center;
  max-height: 10%;
  padding: 1%;
  border-bottom: 1px solid var(--color-primary-dark);
  flex-grow: 1;
  font-size: 1.75rem;
}
.week-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 1.5rem;
}
.week-list__item {
  display: grid;
  grid-template-columns: 1fr .5fr 1fr;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-grow: 1;
  border-bottom: 1px solid var(--color-primary-dark);
}

.week-list__weather-wrapper {
  display: flex;
  align-items: center;
}

.week-list__item-icon {
  height: auto;
  max-width: 4rem;
  background-color: var(--color-primary-dark);
  border-radius: 2rem;
  margin-right: 1rem;
}
.week-list_temperature-value{
  text-align: center;
}
.week-list__date{
  margin-left: auto;
  font-size: 1.2rem;
}
